.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: fixed;
    left: 50%;
    bottom: 3rem;
    z-index: 2;
    transform: translateX(-50%);
}


.controls button{
    border-radius: 50%;
    background-color: rgba(59, 21, 27, 0.5);
    backdrop-filter: blur(2rem);
    padding: .5rem;
    outline: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}